client
dev tun
proto udp
remote {{ centralpoint-ip }} 1194
pull
nobind
persist-key
persist-tun
comp-lzo
verb 3
mute 20
ca /etc/openvpn/certs/ca.crt
cert /etc/openvpn/certs/client.crt
key /etc/openvpn/certs/client.key

