client
dev tun
proto udp
remote {{ centralpoint_ip }} 1194
pull
nobind
persist-key
persist-tun
comp-lzo
verb 3
mute 20
ca /etc/openvpn/certs/ca.crt
cert /etc/openvpn/certs/{{ cert_name }}.crt
key /etc/openvpn/certs/{{ cert_name }}.key

